
/* red: #D1082A */

body{
    background:#FBF9F5;
}

.navbar-header{
    display:flex;
    position: fixed;
    width: 100%;
    
    top:0px;
    left:0px;
}
.navbar-container{
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 50px; 
    border-bottom:rgba(40,40,40,0.1) 1px solid;
    background:#FBF9F5;
}
.desktop-nav .navbar-menu{
    display: flex;
    list-style: none;
    padding:0px;
    margin:0px;
    gap:40px;
}
.desktop-nav .navbar-menu li{
   
}
.desktop-nav .navbar-menu li a{
    color:#D1082A;
    text-decoration: none;
    font-size:18px;
    font-weight:500;
}
.desktop-nav .navbar-menu li a:hover{
    opacity:0.7;
}

.navbar-container .right_nav{
    display: flex;
     gap:4vw;
     align-items: center;
}

.main_wrap{
    padding-top:100px;
}

.mobile-menu-toggle{
    display: none;
}

.mobile-menu-toggle{
    position: absolute;
    right: 100px;
    z-index: 50;
    display: none;
    height: 2rem;
    width: 2rem;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-style: none;
    background-color: transparent;
}
.mobile-menu-toggle .burger-line{
    height: 0.125rem;
    width: 1.5rem;
    --tw-bg-opacity: 1;
    background-color: #D1082A;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transform-origin: center center;
}
.mobile-menu-toggle .burger-line:not(:last-child) {
    margin-bottom: 0.25rem;
}


.block{
    background:#F2EEE5;
    padding:20px;
    margin:10px 0px;
}

.main{
    min-height:80vh;
}
.footer{
    background:#D1082A;
    color:#fff;
    padding:50px 50px;
    display: flex;
    justify-content: space-between;

}
.footer ul{
    list-style: none;
    padding:0px;
    margin:0px;
}
.footer .footer_right{
    display: flex;
    justify-content: space-between;
    gap:100px;
}
.footer .footer_left img{
    margin-bottom:30px;
}
.footer a{
    color:#fff;
    text-decoration: none;
}

.container_header{
    padding:30px 0px;
}

@media (max-width: 960px) {
    .desktop-nav{
        display: none;
    }
    .mobile-menu-toggle{
        display: flex;
    }
    .footer{
        display: block;
    }
    .footer .footer_right{
        display: block;
    }
}