body{
	background-color:#7bc782;
	font-family:arial, sans-serif;
	display:flex;
	justify-content:center;
	align-items:center;
}

#title{
	text-align:center;
	text-shadow: 2px 2px 8px;
}

.game{
	background-color:#7d82b8;
	width:1000px;
	height:600px;
	align-items:center;
	justify-content:center;
	padding:20px;
	border-radius:20px;
	box-shadow:10px 9px 38px 19px #000000;
}

button{
	align-items:center;
	justify-content:center;
	cursor:pointer;
	width:100%;
	height:50px;
	border-radius:20px;
	font-size:large;
}

button:hover{
	background-color:#8fa19d;
}